<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{title}}</span>
</div>

<div class="content" role="main" *ngIf="giftVisible" [@slideInOut]="giftVisible">

  <img src="../assets/gift-svgrepo-com.svg" class="gift" (click)="onGiftClick()">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>Ez egy különleges ajándék, egy különleges alkalomra! Úgy raktuk össze, hogy kinyíljon, ha rákoppintotok...</span>

  </div>

</div>
<div class="form-container" *ngIf="formVisible" [@slideInOutReversed]="formVisible">
  <div class="card highlight-card card-small">

    <span>De előbb meg kell győződnünk arról, hogy ez az ajándék valóban titeket illet. Kérjük, válaszoljatok az alábbi kérdésekre!</span>

  </div>
  <mat-stepper orientation="vertical" [linear]="isFormLinear" #stepper>
    <mat-step>
      <p>lul</p>
    </mat-step>
    <mat-step>
      <p>ikszdé</p>
    </mat-step>
    <mat-step>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xtjamFPvoxo?controls=0"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
    </mat-step>
  </mat-stepper>
</div>

