<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>{{title}}</span>
</div>

<div class="content" role="main" *ngIf="giftVisible" [@slideInOut]="giftVisible">

  <img src="../assets/gift-svgrepo-com.svg" class="gift" (click)="onGiftClick()">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small">

    <span>Ez egy különleges ajándék, egy különleges alkalomra! Úgy raktuk össze, hogy kinyíljon, ha rákoppintotok...</span>

  </div>

</div>
<div class="form-container" *ngIf="formVisible" [@slideInOutReversed]="formVisible">
  <div class="card highlight-card card-small" *ngIf="!surpriseCompleted">

    <span>De előbb meg kell győződnünk arról, hogy ez az ajándék valóban titeket illet. Kérjük, válaszoljatok az alábbi kérdésekre!</span>

  </div>
  <mat-stepper orientation="vertical" linear #stepper>
    <mat-step>
      <p>Hányadik évfordulót ünneplitek ebben az évben?</p>
      <mat-radio-group
      class="anniversary-group"
      [(ngModel)]="selectedAnniversary"
      [disabled]="anniversaryCompleted !== undefined && anniversaryCompleted">
        <mat-radio-button class="anniversary-button" *ngFor="let anniversary of anniversaryList" [value]="anniversary"
                          (click)="onAnniversarySelected(anniversary)" [disabled]="anniversaryCompleted !== undefined && anniversaryCompleted">
          {{anniversary}}
        </mat-radio-button>
      </mat-radio-group>
      <div>{{anniversaryMessage}}</div>
      <div *ngIf="anniversaryCompleted">
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </mat-step>
    <mat-step>
      <p>1-től 10-ig mennyire szeretitek egymást?</p>
      <mat-slider min="1" max="10" step="1" value="{{lovemeterValue}}" (change)="onLovemeterChange($event)"
      [thumbLabel]="true" [disabled]="lovemeterCompleted !== undefined && lovemeterCompleted"></mat-slider>
      <div>{{lovemeterMessage}}</div>
      <div *ngIf="lovemeterCompleted">
        <button mat-button matStepperNext>Tovább</button>
      </div>
    </mat-step>
    <mat-step>
      <p>UTOLSÓ KÉRDÉS: Számítottatok ilyen meglepetésre?</p>
      <button mat-button  *ngIf="!surpriseCompleted" (click)="onSurpriseAnswered(true)">IGEN</button>
      <button mat-button  *ngIf="!surpriseCompleted" (click)="onSurpriseAnswered(false)">NEM</button>
      <hr *ngIf="surpriseCompleted">
      <div>{{surpriseMessage}}</div>
      <p *ngIf="surpriseCompleted">Akkor nincs más hátra, jöjjön az ajándék! Ott lesz a következő oldalon...</p>
      <div *ngIf="surpriseCompleted">
        <button mat-button matStepperNext (click)="onVideoIncoming()">Tovább</button>
      </div>
    </mat-step>
    <mat-step>
      <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/xtjamFPvoxo"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
      </div>
      <br>
      <p>{{postVideoMessage}}</p>
    </mat-step>
  </mat-stepper>
</div>

